function SquareGame.new 0
push constant 1
call Memomy.alloc  1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
return
push pointer 0
function SquareGame.function 1
push argument 1
push constant 1
push this 0
call square.moveUp 0
push this 1
push constant 2
eq
push this 1
push constant 3
eq
push this 0
call square.moveLeft 0
push this 1
push constant 4
eq
push constant 5
push constant 0
eq
not
push constant 0
call Keyboard.keyPressed 0
eq
push constant 81
eq
push constant 0
not
eq
push constant 90
eq
push constant 88
eq
push this 0
call square.incSize 0
push constant 131
eq
push constant 1
push constant 133
eq
push constant 2
push constant 130
eq
push constant 3
push constant 132
eq
push constant 4
push constant 0
eq
not
call Keyboard.keyPressed 0
call SquareGame.square 17
pop temp 0
push pointer 0
